body {
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    height: 3rem;
    background: rgb(61, 61, 61);
    font-size: 15px;
    color: whitesmoke;
    position: fixed;
    width: 100%;
}

header:hover {
    background: #000;
}

header>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

header ul {
    display: flex;
    list-style-type: none;
    width: 630px;
    padding: 0;
    justify-content: space-between;
}

header ul li {
    height: 100%;
    display: block;
}

header ul li:hover {
    color: rgb(59, 59, 255);
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
}

#hero {
    height: 50dvh;
    background: darkmagenta;
    padding-top: 3rem;
}

#contents {
    background: black;
    color: white;
}

#contents #contents-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem 2.5rem;
}

#contents #contents-list>div {
    width: 20vw;
    height: 20vw;
    background-color: blue;
    border-radius: 24px;
}